<aside class="logo">

	<a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
		<img src="{{ site.logo_url }}" class="logo-avatar">
	</a>

</aside>

<aside class="links">
	<div>Hi, I'm Noah</div>
	<p></p>
	<div>I write <a href="https://github.com/ProxymanApp/Proxyman">Proxyman</a> in spare time</div>
	<p></p>
    <a href="{{ prepend: site.baseurl | prepend: site.url }}/about" title="" target="_blank" class="link">About me</a>
    <span> • </span>
    {% if site.github_username %}	
        <a href="https://github.com/{{ site.github_username }}" title="GitHub Profile" target="_blank" class="link">Github</a>
        <span> • </span>
    {% endif %}
    {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter Profile" target="_blank" class="link">Twitter</a>
    {% endif %}
</aside>