<aside class="links">
	<div>Hi, I'm Noah Tran</div>
	<p></p>
	<div>Creator of <a href="https://proxyman.io">Proxyman</a>. Previously at <a href="https://www.toggl.com/track/">@TogglTrack</a>.</div>
	<p></p>
    {% if site.github_username %}	
        <a href="https://github.com/{{ site.github_username }}" title="GitHub Profile" target="_blank" class="link">Github</a>
        <span> • </span>
    {% endif %}
    {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter Profile" target="_blank" class="link">Twitter</a>
    {% endif %}
</aside>